<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Find remote jobs that you can do from anywhere in the world.">
    <meta name="keywords" content="Remote Jobs, Truly Remote Jobs, Work From Anywhere, Global Remote, RemoteOk, Remote, Jobs, Vacancy, Worldwide remote, SDJobList, Sd Job List, SDJobs">
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · SdJobList">
      <%= assigns[:page_title] || "Sdjoblist" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <%= @inner_content %>
  </body>
</html>
