<div>
  <div class="text-center">
    <h1 class="text-xl">Contact</h1>
    <div>
      <span><a class="text-brand" href="mailto:dahsameer+sdjl@gmail.com">dahsameer+sdjl@gmail.com</a></span>
    </div>
  </div>
</div>
